.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about p {
  font-size: 18px;
  font-weight: bold;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.section1 h2 {
  color: rgb(0, 255, 255);
}

.section2 img {
  width: 300px;
  border: 5px solid rgb(9, 145, 145);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

@media (max-width: 900px) {
  .section2 img {
    width: 250px;
  }
  .section1 h2 {
    font-size: 18px;
  }
  .section1 p {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .section2 img {
    width: 180px;
  }
}

@media (max-width: 650px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .section1 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .section2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .section2 img {
   width: 150px;
  }
}

