.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.links-section {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:800px){
  .footer {
    justify-content: center;
    align-items: center;
  }
  .footer-contacts p {
    font-size: 12px;
    text-align: center;
  }
}

